@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --primary-color: #ff521d;
}
.v-container {
    padding: 0 !important;
    margin: 10px !important;
}

/* Make primary color available globally */
* {
    --v-theme-primary: var(--primary-color);
}

/* Override Vuetify default primary color */
.v-application {
    --v-theme-primary: var(--primary-color) !important;
}
